# Sanity CMS Configuration
PUBLIC_SANITY_PROJECT_ID=xyzxsyqr
PUBLIC_SANITY_DATASET=production

# Site Configuration
PUBLIC_SITE_URL=http://localhost:4321
PUBLIC_CONTACT_EMAIL=info@atozbusiness.ae
PUBLIC_WHATSAPP=971XXXXXXXXX
STITCH_PROJECT_ID=3146200606521130318
